target/
!**/src/main/**/target/
!**/src/test/**/target/
release.properties
pom.xml.releaseBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

### VS Code ###
.vscode/
